/* Content */
body {
  font: normal normal 12px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
  color: #222222;
  background: #66bbdd none repeat scroll top left;
  padding: 0 40px 40px 40px;
}
html body .region-inner {
  min-width: 0;
  max-width: 100%;
  width: auto;
}
a:link {
  text-decoration: none;
  color: #135a7c;
}
a:visited {
  text-decoration: none;
  color: #888888;
}
a:hover {
  text-decoration: underline;
  color: #33aaff;
}
.body-fauxcolumn-outer .fauxcolumn-inner {
  background: transparent
    url(//www.blogblog.com/1kt/simple/body_gradient_tile_light.png) repeat
    scroll top left;
  _background-image: none;
}
.body-fauxcolumn-outer .cap-top {
  position: absolute;
  z-index: 1;
  height: 400px;
  width: 100%;
  background: #66bbdd none repeat scroll top left;
}
.body-fauxcolumn-outer .cap-top .cap-left {
  width: 100%;
  background: transparent url(//www.blogblog.com/1kt/simple/gradients_light.png)
    repeat-x scroll top left;
  _background-image: none;
}
.content-outer {
  -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -goog-ms-box-shadow: 0 0 10px #333333;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
  margin-bottom: 1px;
}
.content-inner {
  padding: 10px 10px;
}
.content-inner {
  background-color: #ffffff;
}
/* Header */
.header-outer {
  background: transparent none repeat-x scroll 0 -400px;
  _background-image: none;
}
.Header h1 {
  font: normal normal 42px Impact, sans-serif;
  color: #3399bb;
  /*text-shadow: -1px -1px 1px rgba(0, 0, 0, .2);*/
}
.Header h1 a {
  color: #3399bb;
}
.Header .description {
  font-size: 120%;
  color: #555555;
}
.header-inner .Header .titlewrapper {
  padding: 22px 30px;
}
.header-inner .Header .descriptionwrapper {
  padding: 0 30px;
}
/* Tabs */
.tabs-inner .section:first-child {
  border-top: 1px solid #eeeeee;
}
.tabs-inner .section:first-child ul {
  margin-top: -1px;
  border-top: 1px solid #eeeeee;
  border-left: 0 solid #eeeeee;
  border-right: 0 solid #eeeeee;
}
.tabs-inner .widget ul {
  background: #f5f5f5 url(//www.blogblog.com/1kt/simple/gradients_light.png)
    repeat-x scroll 0 -800px;
  _background-image: none;
  border-bottom: 1px solid #eeeeee;
  margin-top: 0;
  margin-left: -30px;
  margin-right: -30px;
}
.tabs-inner .widget li a {
  display: inline-block;
  padding: 0.6em 1em;
  font: normal normal 14px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
  color: #999999;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #eeeeee;
}
.tabs-inner .widget li:first-child a {
  border-left: none;
}
.tabs-inner .widget li.selected a,
.tabs-inner .widget li a:hover {
  color: #000000;
  background-color: #eeeeee;
  text-decoration: none;
}
/* Columns */
.main-outer {
  border-top: 0 solid #eeeeee;
}
.fauxcolumn-left-outer .fauxcolumn-inner {
  border-right: 1px solid #eeeeee;
}
.fauxcolumn-right-outer .fauxcolumn-inner {
  border-left: 1px solid #eeeeee;
}
/* Headings */
h2 {
  margin: 0 0 1em 0;
  font: normal bold 11px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
  color: #000000;
}
/* Widgets */
.widget .zippy {
  color: #999999;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
}
.widget .popular-posts ul {
  list-style: none;
}
/* Posts */
.date-header span {
  background-color: transparent;
  color: #222222;
  padding: inherit;
  letter-spacing: inherit;
  margin: inherit;
}
.main-inner {
  padding-top: 30px;
  padding-bottom: 30px;
}
.main-inner .column-center-inner {
  padding: 0 15px;
}
.main-inner .column-center-inner .section {
  margin: 0 15px;
}
.post {
  margin: 0 0 25px 0;
}
h3.post-title,
.comments h4 {
  font: normal normal 22px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
  margin: 0.75em 0 0;
}
.post-body {
  font-size: 110%;
  line-height: 1.4;
  position: relative;
}
.post-body img, .post-body .tr-caption-container, .Profile img, .Image img,
    /*.BlogList .item-thumbnail img {
    padding: 2px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    }
    .post-body img, .post-body .tr-caption-container {
    padding: 5px;
    }*/
    .post-body .tr-caption-container {
  color: #222222;
}
.post-body .tr-caption-container img {
  padding: 0;
  background: transparent;
  border: none;
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
}
.post-header {
  margin: 0 0 1.5em;
  line-height: 1.6;
  font-size: 90%;
}
.post-footer {
  margin: 20px -2px 0;
  padding: 5px 10px;
  color: #666666;
  background-color: #f9f9f9;
  border-bottom: 1px solid #eeeeee;
  line-height: 1.6;
  font-size: 90%;
}
#comments .comment-author {
  padding-top: 1.5em;
  border-top: 1px solid #eeeeee;
  background-position: 0 1.5em;
}
#comments .comment-author:first-child {
  padding-top: 0;
  border-top: none;
}
.avatar-image-container {
  margin: 0.2em 0 0;
}
#comments .avatar-image-container img {
  border: 1px solid #eeeeee;
}
/* Comments */
.comments .comments-content .icon.blog-author {
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB9sLFwMeCjjhcOMAAAD+SURBVDjLtZSvTgNBEIe/WRRnm3U8RC1neQdsm1zSBIU9VVF1FkUguQQsD9ITmD7ECZIJSE4OZo9stoVjC/zc7ky+zH9hXwVwDpTAWWLrgS3QAe8AZgaAJI5zYAmc8r0G4AHYHQKVwII8PZrZFsBFkeRCABYiMh9BRUhnSkPTNCtVXYXURi1FpBDgArj8QU1eVXUzfnjv7yP7kwu1mYrkWlU33vs1QNu2qU8pwN0UpKoqokjWwCztrMuBhEhmh8bD5UDqur75asbcX0BGUB9/HAMB+r32hznJgXy2v0sGLBcyAJ1EK3LFcbo1s91JeLwAbwGYu7TP/3ZGfnXYPgAVNngtqatUNgAAAABJRU5ErkJggg==);
}
.comments .comments-content .loadmore a {
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}
.comments .comment-thread.inline-thread {
  background-color: #f9f9f9;
}
.comments .continue {
  border-top: 2px solid #999999;
}
/* Accents */
.section-columns td.columns-cell {
  border-left: 1px solid #eeeeee;
}
.blog-pager {
  background: transparent none no-repeat scroll top center;
}
.blog-pager-older-link,
.home-link,
.blog-pager-newer-link {
  background-color: #ffffff;
  padding: 5px;
}
.footer-outer {
  border-top: 0 dashed #bbbbbb;
}
/* Mobile */
body.mobile {
  background-size: auto;
}
.mobile .body-fauxcolumn-outer {
  background: transparent none repeat scroll top left;
}
.mobile .body-fauxcolumn-outer .cap-top {
  background-size: 100% auto;
}
.mobile .content-outer {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
body.mobile .AdSense {
  margin: 0 -40px;
}
.mobile .tabs-inner .widget ul {
  margin-left: 0;
  margin-right: 0;
}
.mobile .post {
  margin: 0;
}
.mobile .main-inner .column-center-inner .section {
  margin: 0;
}
.mobile .date-header span {
  padding: 0.1em 10px;
  margin: 0 -10px;
}
.mobile h3.post-title {
  margin: 0;
}
.mobile .blog-pager {
  background: transparent none no-repeat scroll top center;
}
.mobile .footer-outer {
  border-top: none;
}
.mobile .main-inner,
.mobile .footer-inner {
  background-color: #ffffff;
}
.mobile-index-contents {
  color: #222222;
}
.mobile-link-button {
  background-color: #135a7c;
}
.mobile-link-button a:link,
.mobile-link-button a:visited {
  color: #ffffff;
}
.mobile .tabs-inner .section:first-child {
  border-top: none;
}
.mobile .tabs-inner .PageList .widget-content {
  background-color: #eeeeee;
  color: #000000;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.mobile .tabs-inner .PageList .widget-content .pagelist-arrow {
  border-left: 1px solid #eeeeee;
}

/** template-skin-1 */

body {
  min-width: 960px;
}
.content-outer,
.content-fauxcolumn-outer,
.region-inner {
  min-width: 960px;
  max-width: 960px;
  _width: 960px;
}
.main-inner .columns {
  padding-left: 0px;
  padding-right: 260px;
}
.main-inner .fauxcolumn-center-outer {
  left: 0px;
  right: 260px;
  /* IE6 does not respect left and right together */
  _width: expression(
    this.parentNode.offsetWidth - parseInt("0px") - parseInt("260px") + "px"
  );
}
.main-inner .fauxcolumn-left-outer {
  width: 0px;
}
.main-inner .fauxcolumn-right-outer {
  width: 260px;
}
.main-inner .column-left-outer {
  width: 0px;
  right: 100%;
  margin-left: -0px;
}
.main-inner .column-right-outer {
  width: 260px;
  margin-right: -260px;
}
#layout {
  min-width: 0;
}
#layout .content-outer {
  min-width: 0;
  width: 800px;
}
#layout .region-inner {
  min-width: 0;
  width: auto;
}
